.info {
    overflow: hidden;
    border-radius: 30%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
    max-width: 200px;
}
.avatar {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 40%;
}
